@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(components/header.css);
@import url(components/hero.css);
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    color: #f3f3f3;
    background-color: #06061a;
}

.bg{
    background: linear-gradient(150deg, rgba(172, 60, 246, 0.2), #06061a );
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.025em;
}
